.cart_select {
  padding: 12px 15px;
  border: 1px solid #44566673;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  color: #878787;
  transition: .2s;

  &_error {
    border: 1px solid #FC4483 !important;

  }

  &_selected {
    color: black !important;
  }

  &_office {
    position: relative;

    &_btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #0187FC
      }

      img {
        margin-left: 5px;
        max-width: 15px;
      }
    }
  }

  &_city {
    border: none;
    padding: 0;

    &_text {
      width: 50%;
      border: 1px solid #44566673;
      align-self: stretch;
      border-radius: 8px 0 0 8px;
      display: flex;
      align-items: center;
      padding-left: 15px;
    }

    &_btn {
      width: 50%;
      background: #0187FC;
      height: 100%;
      border-radius: 0 8px 8px 0;
      border: 1px solid #0187FC;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
    }
  }
}