@import "@gstyle/mixin";

.category_body {
  width: 100%;
  position: relative;
  border-radius: 7px;
  background: #E8F4FF;
  cursor: pointer;
  transition: .2s background-color;

  &:before {
    content:"";
    display: block;
    padding-bottom: 100%;
  }

  &_selected {
    background: #0187FC;
    color: white;
    @include adaptive("xxsm"){
      background: white;

      *{
        color: #0187FC !important;

      }
    }
  }

  @include adaptive("xxsm"){
    background: white;
  }
}

.category_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &_dot {
    display: none !important;
    color: #AED9FF;
    @include adaptive("xxsm"){
      display: inline-block !important;
      transform: translateY(1px);

    }
    margin-right: 8px;
    font-size: 28px!important;
    margin-top: 0 !important;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  span {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    margin-top: 8px;
    white-space: nowrap;
    align-items: center;
  }
}
