@import "@gstyle/mixin";

.question {
  width: 100%;
  cursor: pointer;
  margin-top: 28px;
  &_head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
      font-family: 'Arial';
      font-weight: 600;
      line-height: 1.4;
      color: #3d3d3d;
      font-size: 24px;


      @include adaptive("md"){
        font-size: 22px;
      }

      @include adaptive("sm"){
        font-size: 18px;
      }
    }

    &_cross {
      margin-left: 10%;
      width: 40px;
      height: 40px;
      background-color: #eee;
      padding: 8px;
      border-radius: 50%;
      transition: .4s;

      &_rotated {
        transform: rotate(-45deg);
      }
    }


  }

  &_answer {
    height: 0;
    margin-top:28px;
    overflow: hidden;
    transition: .4s;
    p {
      color: #3d3d3d;
      font-family: 'Arial';
      box-sizing: content-box;
      padding-bottom: 35px;
      line-height: 1.5;

      @include adaptive("sm"){
        font-size: 14px;
        padding-bottom: 20px;
      }
    }
  }
}
