@import "@gstyle/mixin";

.body {
  padding: 0 !important;
  max-width: 1000px;
  width: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;

  &_content {
    height: 60vh;
    position: relative;
    display: flex;
    overflow: hidden;

    @include adaptive("xsm"){
      flex-grow: 1;
      overflow: hidden;
      flex-direction: column;
    }

    &_map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;


    }
  }

  &_header {
    border-radius: 0;

    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;

      color: #FFFFFF;
    }
  }
}

.office_list {
 width: 336px;
  height: 100%;
  overflow: auto;

  @include adaptive("xsm"){
    width: 100%;
    height: 40vh;
    order: 1;
  }
}

.map_wrapper {
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  @include adaptive("xsm"){
    width: 100%;
  }
}