.text {
  font-family: 'Roboto', Areal, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
  margin-top: 8px;
  cursor: pointer;
  display: block;
  text-align: center;
}